$brand-color: #473FEC;
$block-border-radius: 40px;
$green: #66D53F;
$orange: #F0BA2E;


$yellow: #FFBE00;
$blue: #315EFB;
$red:#FF5252;
$white: #fff;
$black: #1F1F1F;
$grey: #999999;

//$font-fira: 'Fira Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;


